---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/projects/costum_project_card.astro';
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';

interface Project {
    title: string;
    slug?: string;
    image: string;
    link: string;
}

const projects: Array<Project> = [
    {
        title: 'Awesome CV',
        slug: 'Awesome CV is a plattform where you can create your cv with templates, import CVs from other websites, manage your CVs and share them with individual links, so that you don\'t have to send emails all the time with your personal info',
        image: '/images/projects/game.jpg',
        link: 'awesomecv',
    },
    {
        title: 'Square Garden',
        slug: 'SquareGarden is an application to organizse your gardening. You can set reminders for fertilizing and watering your plants.',
        image: '/images/projects/garden.jpg',
        link: 'squaregarden',
    },
    {
        title: 'Weather Station',
        slug: 'As a small project in university we had to build a small project. I build a weather station with the inclusion of an API and a small simple front-end.',
        image: '/images/projects/project.jpg',
        link: 'weatherstation',
    },
    {
        title: 'Chess AI',
        slug: 'I build a Chess AI, based on AlphaZero. The main idea was to bring human behavior into a chess engine that will inmitate a speical player.',
        image: '/images/projects/tech.jpg',
        link: 'chessai',
    },
];
---

<Layout title="Joe's Website" navbarColor="bg-transparent">
    <Hero
        title="Joe's Website 👾"
        text="Welcome to my Website! I'm a CS student and interested in the fields of bioinformatics, machine learning, algorithms and quantum computing. Have a look and check out my projects. Just someone who is motivated about new stuff easliy!"
    />
    <main
        class='pt-24 w-full text-center flex flex-col items-center'
    >
        <h1
            class='pb-16 text-4xl font-bold'
            data-aos-delay='500'
            data-aos-duration='800'
            data-aos='zoom-in'
        >
            Here are some of my <span>Projects</span>
        </h1>
        <div class="flex flex-row flex-wrap">
        {
                projects.map(project => (
                    <div class='max-xl:basis-full basis-6/12 max-sm:py-4 max-md:py-8 py-12 flex align-center justify-center max-sm:px-8 px-20'>
                        <ProjectCard
                        title={project.title}
                        image={project.image}
                        link={project.link}
                        slug={project.slug}
                    />
                    </div>
                ))
            }
        </div>
        <Contact />
    </main>
</Layout>

<style>
    h1 > span {
        background: linear-gradient(to right, hsl(var(--p)), hsl(var(--af)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>