---
import Layout from '../layouts/Layout.astro';
// import ProjectCard from '../components/ProjectCard.astro';
import ProjectCard from '../components/projects/costum_project_card.astro';
import Hero from '../components/Hero.astro';

interface Project {
    title: string;
    slug?: string;
    image: string;
    link: string;
}

const projects: Array<Project> = [
    {
        title: 'Awesome CV',
        slug: 'Awesome CV is a plattform where you can create your cv with templates, import CVs from other websites, manage your CVs and share them with individual links, so that you don\'t have to send emails all the time with your personal info',
        image: '/images/projects/game.jpg',
        link: 'awesomecv',
    },
    {
        title: 'Square Garden',
        slug: 'SquareGarden is an application to organizse your gardening. You can set reminders for fertilizing and watering your plants.',
        image: '/images/projects/garden.jpg',
        link: 'squaregarden',
    },
    {
        title: 'Weather Station',
        slug: 'As a small project in university we had to build a small project. I build a weather station with the inclusion of an API and a small simple front-end.',
        image: '/images/projects/project.jpg',
        link: 'weatherstation',
    },
    {
        title: 'Chess AI',
        slug: 'I build a Chess AI, based on AlphaZero. The main idea was to bring human behavior into a chess engine that will inmitate a speical player.',
        image: '/images/projects/tech.jpg',
        link: 'chessai',
    },
];
---

<Layout title="Joe's Website">
    <Hero
        title="Joe's Website 👾"
        text="Welcome to my Website! I'm a CS student and interested in the fields of bioinformatics, machine learning, algorithms and quantum computing. Have a look and check out my projects. Just someone who is motivated about new stuff easliy!"
    />
    <main
        class='pt-24 w-full text-center flex flex-col items-center bg-dark'
    >
        <h1
            class='pb-16 text-4xl font-bold'
            data-aos-delay='500'
            data-aos-duration='800'
            data-aos='zoom-in'
        >
            Here are some of my <span>Projects</span>
        </h1>
        {
            projects.map(project => (
                <div class='max-sm:py-4 max-md:py-8 py-12 flex align-center justify-center max-sm:px-8 px-20'>
                    <ProjectCard
                        title={project.title}
                        image={project.image}
                        link={project.link}
                        slug={project.slug}
                    />
                </div>
            ))
        }
    </main>
</Layout>

<style>
    h1 > span {
        background: linear-gradient(to right, hsl(var(--p)), hsl(var(--af)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bg-dark {
        background-image: linear-gradient(66deg, transparent 0%, transparent 24%,rgba(195, 195, 195,0.04) 24%, rgba(195, 195, 195,0.04) 80%,transparent 80%, transparent 100%),linear-gradient(153deg, transparent 0%, transparent 29%,rgba(195, 195, 195,0.04) 29%, rgba(195, 195, 195,0.04) 45%,transparent 45%, transparent 100%),linear-gradient(199deg, transparent 0%, transparent 32%,rgba(195, 195, 195,0.04) 32%, rgba(195, 195, 195,0.04) 59%,transparent 59%, transparent 100%),linear-gradient(277deg, transparent 0%, transparent 56%,rgba(195, 195, 195,0.04) 56%, rgba(195, 195, 195,0.04) 57%,transparent 57%, transparent 100%),linear-gradient(90deg, rgb(14,22,41),rgb(14,22,41));
    }

    .bg-light {
        background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    }
</style>

<!-- <script>
    const mode = localStorage.getItem('mode');
    const mainPageContent = document.querySelector('main');
    if (mode === 'dark') {
        mainPageContent.classList.remove("bg-light");
        mainPageContent.classList.add("bg-dark");
    } else {
        mainPageContent.classList.remove("bg-dark");
        mainPageContent.classList.add("bg-light");
    }
</script> -->