---
import ContactCard from './ContactCard.astro';
---

<div class='p-28'>
    <div class='grid grid-flow-col gap-4 width'>
		<ContactCard title="Contact Me" text="If you want to contact me, just reach out, write me an email or something. I'm happy to respond and talk about tech stuff." />
    </div>
</div>

<style>
	.width{
		max-width: 650px;
	}
</style>