---
// let theme = localStorage.getItem("theme") ?? "light";
import { Image } from '@astrojs/image/components';
import ThemeSwitcher from './ThemeSwitcher.astro';
import SocialLinks from './SocialLinks.astro';
---

<footer class='footer footer-center p-10 bg-neutral text-neutral-content'>
    <div class='grid grid-flow-col gap-4'>
        <SocialLinks />
        <ThemeSwitcher />
    </div>
    <div>
        <Image
            src={import('../../public/logo_dark.svg')}
            alt='Logo'
            width={48}
            class=''
        />
        <p>© Josef Mayer 2023</p>
    </div>
</footer>
