---
// import { Image, Picture } from '@astrojs/image/components';
export interface Props {
	title: string;
	text: string;
}

const { title, text } = Astro.props;
---

<div class="hero hero-bg min-h-screen">
    <div class="hero-overlay bg-opacity-40"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">{title}</h1>
        <p class="mb-5">{text}</p>
        <!-- <button class="btn btn-primary">Get Started</button> -->
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 hero-arrow">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
    </svg>    
</div>
<style>
.hero-bg {
    background-image: url('/images/bg1.jpg');
		background-color: hsl(var(--b1));

}

.hero-arrow {
  position: absolute;
  bottom: 2rem;
  left: 50vw - 0.75rem;
  stroke-width: 3;
  animation-name: hero-arrow;
  animation-duration: 2.5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes hero-arrow {
  0% {
    bottom: 2rem;
  }
  45% {
    bottom: 3rem;
  }
  90% {
    bottom: 2rem;
  }
}
</style>