---
import { Image } from '@astrojs/image/components';
// import avatar from "url(/avatar.svg)";
export interface Props {
	title: string;
	text: string;
	btn_text: string;
}

const { btn_text, title, text } = Astro.props;
---
<figure class="avatar-img"><Image src={import("../../public/avatar3.svg")} alt="Avatar" width={384} /></figure>
<div class="card card-hero w-96 glass rounded-none rounded-b-lg -z-10"><!--bg-transparent shadow-xl card-compact -->
    
    <div class="card-body items-center text-center">
      <h2 class="card-title">{title}</h2>
      <p>{text}</p>
      <!-- <div class="card-actions justify-end">
        <button class="btn btn-primary">{btn_text}</button>
      </div> -->
    </div>
</div>

<style>
.avatar-img {
    margin-bottom: -1.8rem;
}
</style>