---
import { Image } from '@astrojs/image/components';
import ThemeSwitcher from './ThemeSwitcher.astro';
import SocialLinks from './SocialLinks.astro';

export interface props {
    color?: string;
    delay?: number;
}

const { color = "bg-base-300", delay = 2000 } = Astro.props;
---

<!-- Include color of the navbar bg-transparent -->
<div
    class=`navbar ${color} text-primary-content`
    data-aos='fade-down'
    data-aos-once='true'
    data-aos-delay={delay}
    data-aos-duration='600'
>
    <!-- TODO: bg-neutral on project page -->
    <span class='flex-1'>
        <a href='/' class='cursor-none px-4 pl-14' id='home'>
            <!-- btn btn-ghost normal-case text-xl cursor-none -->
            <Image
                src={import('../../public/logo_dark.svg')}
                alt='Avatar'
                width={44}
                class=''
            />
        </a>
    </span>
    <div class='flex-none'>
        <SocialLinks />
        <div class='pl-2 md:pl-8 mt-2 lg:pr-14'>
            <ThemeSwitcher />
        </div>
    </div>
</div>

<style>
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
    }

    .link-hovered {
        text: white;
        z-index: 13;
    }

    li {
        z-index: 13;
    }
</style>

<script is:inline>
    // Hover effects for navbar links
    const links = document.querySelectorAll('ul.menu > li > a');
    const homeLink = document.getElementById('home');

    links.forEach(link => {
        link.addEventListener('mouseover', () => {
            cursor.classList.add('cursor-grow');
            link.classList.add('link-hovered');

            const textData = link.getAttribute('data-cursor-link-text');
            cursorText.innerHTML = textData;
            cursorText.classList.add('cursor--text-active');
        });
        link.addEventListener('mouseleave', () => {
            cursor.classList.remove('cursor-grow');
            link.classList.remove('link-hovered');

            cursorText.innerHTML = '';
            cursorText.classList.remove('cursor--text-active');
        });
    });

    homeLink.addEventListener('mouseover', () => {
        cursor.classList.add('cursor-grow');
    });
    homeLink.addEventListener('mouseleave', () => {
        cursor.classList.remove('cursor-grow');
    });

    // Theme changer
    // const links = document.querySelectorAll('ul.menu > li > a');
</script>
